<!DOCTYPE html>
<html>
<head>
  <title>Engine cart</title>
  <%= stylesheet_link_tag    "engine_cart/application", media: "all" %>
  <%= javascript_include_tag "engine_cart/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
